{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "globals": {
    "expect": true,
    "sinon": true,
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "max-len": [1, 80, 4],
    "radix": 0,
    "arrow-body-style": 0,
    "react/jsx-no-bind": 0
  }
}
