language: node_js
node_js:
  - '5.0.0'
cache:
  directories:
    - node_modules
addons:
  code_climate:
    repo_token: token_here
before_install: npm install -g codeclimate-test-reporter
after_success: npm run cover && ./node_modules/.bin/nyc report --reporter=text-lcov | codeclimate-test-reporter
